table {

background-color:darksalmon;
border: 1px solid;
text-align: center;
font-family: 'Arial';

margin: auto; /*to make the table in the middel*/
 border-collapse: collapse;
}


 h1 { 
text-align:center;
text-decoration:underline;
 }


th {
padding: 0em;
color:grey;
text-transform: uppercase;
background:darkpink;
height: 50px;
padding: 15px;
text-align: center;
margin: 0 auto;
 text-transform: uppercase;

} 


tr:hover {

color: lightgoldenrodyellow;
 height: 150px;


}

td {
color: brown;
 
padding: 1em;
border: 3px solid;
background-color: blanchedalmond;
width: 5em;
}

 img {

padding: 1em;
border: 3px solid;
background-color: blanchedalmond;
width: 5em;
border-radius: 50px;

}

th.last {

    border-right: none;

}
